@import url(https://fonts.googleapis.com/css?family=Roboto);

ul {
    list-style: none;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
    max-width: 100%;
}

body {
    background: #fff;
    font: 14px/1 Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.holder {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



